{% extends "base.html" %}

{% block content %}
<h1>Artikel toevoegen</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=128) }}
        {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.subtitle.label }}<br>
        {{ form.subtitle(size=128) }}
        {% for error in form.subtitle.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.summary.label }}<br>
        {{ form.summary(rows=4, cols=50) }}
        {% for error in form.summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(rows=10, cols=50) }}
        {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}