{% extends "base.html" %}

{% block content %}
<div class="write-content">
    <form action="" method="post" spellcheck="false">
        {{ form.hidden_tag() }}
        <div class="title">
            {{ form.title }}
            {% for error in form.title.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="subtitle">
            {{ form.subtitle }}
            {% for error in form.subtitle.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="summary">
            {{ form.summary(rows=4, cols=50) }}
            {% for error in form.summary.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="body">
            {{ form.body(rows=10, cols=50) }}
            {% for error in form.body.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.submit }}</div>
    </form>
</div>
{% endblock %}