<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Drie Kortgebroekten</title>
    {% else %}
    <title>Drie Kortgebroekten</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</head>
<body>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <header class="header">
        <h1 class="title"><span class="bold">Drie</span> Kortgebroekten</h1>
        <input type="text" placeholder="Search..." class="desktop-only">
    </header>
    <div class="navbar">
        <ul>
            <li id="blog" class="{{ blogclass }}"><a href="{{ url_for('index') }}">Blog</a></li>
            <li id="podcast" class="{{ podcastclass }}"><a href="{{ url_for('podcast') }}">Podcast</a></li>
            <li id="boekenclub" class="{{ boekenclubclass }}"><a href="{{ url_for('boekenclub') }}">Boekenclub</a></li>
        </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} message"><p>{{ message }}</p><img src="{{ url_for('static', filename='svg/close.svg') }}" width=15px height=15px></svg></div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>