{% extends "base.html" %}

{% block content %}
<div class="boekenclub-content">
    <div class="banner">
        <div class="content">
            <img src="{{ url_for('static', filename='images/eotw.jpg') }}" alt="cover" class="cover">
            <div class="text">
                <h3 class="title">Eye of the World</h3>
                <p class="description">Eye of the world wordt vaak gezien als de grondlegger van het moderne fantasy-genre. Voor een Fantasy/Sci-Fi boekenclub is het dus een ideaal eerste boek. </p>
                <p class="deadline">Deadline: <b>22/05/2021</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}