{% extends "base.html" %}

{% block content %}
    <div class="banners">
    </div>

    <div class="website-content">
        <div class="articles">
        </div>
        <div class="socials">
            <h2>Volg ons</h2>
            <div class="icons">
                <span class="iconify" data-icon="akar-icons:twitter-fill" data-inline="false"></span>
                <span class="iconify" data-icon="akar-icons:youtube-fill" data-inline="false"></span>
                <span class="iconify" data-icon="cib:tiktok" data-inline="false"></span>
                <span class="iconify" data-icon="ant-design:mail-filled" data-inline="false"></span>
                <span class="iconify" data-icon="bi:rss-fill" data-inline="false"></span>
            </div>
        </div>
    </div>

{% endblock %}