{% extends "base.html" %}

{% block content %}
    <div class="banners">
        {% with article = bannerarticle %}
            {% include "_bannerarticle.html" %}
        {% endwith %}
    </div>

    <div class="website-content">
        <div class="articles">
            {% for article in  articles %}
                {% include "_frontpagearticle.html" %}
            {% endfor %}
        </div>
        <div class="socials desktop-only">
            <h2>Volg ons</h2>
            <div class="icons">
                <span class="iconify" data-icon="akar-icons:twitter-fill" data-inline="false"></span>
                <span class="iconify" data-icon="akar-icons:youtube-fill" data-inline="false"></span>
                <span class="iconify" data-icon="cib:tiktok" data-inline="false"></span>
                <span class="iconify" data-icon="ant-design:mail-filled" data-inline="false"></span>
                <span class="iconify" data-icon="bi:rss-fill" data-inline="false"></span>
            </div>
        </div>
    </div>

{% endblock %}