{% extends "base.html" %}

{% block content %}

<div class="podcasts-content">
    <div class="head">
        <h1 class="title">Onze Podcasts</h1>
        <h5 class="subtitle">Abboneer op onze podcasts via RSS of YouTube of luister direct op onze website.</h5>
    </div>
    <hr>
    <div class="podcasts">
        <div class="podcast">
            <img src="{{ url_for('static', filename='images/technowthumbnail.png') }}" alt="" class="thumbnail">
            <div class="text">
                <h3 class="title">Tech Now</h3>
                <p class="description">Riemer en Taeke bespreken veranderingen in de wereld van technologie en wat voor invloed het heeft op het dagelijks leven. Tech Now bespreekt technologie en filosofie met een accent op futurologie.</p>
            </div>
        </div>
        <div class="podcast">
            <img src="{{ url_for('static', filename='images/technowthumbnail.png') }}" alt="" class="thumbnail">
            <div class="text">
                <h3 class="title">Tech Now</h3>
                <p class="description">Riemer en Taeke bespreken veranderingen in de wereld van technologie en wat voor invloed het heeft op het dagelijks leven. Tech Now bespreekt technologie en filosofie met een accent op futurologie.</p>
            </div>
        </div>
        <div class="podcast">
            <img src="{{ url_for('static', filename='images/technowthumbnail.png') }}" alt="" class="thumbnail">
            <div class="text">
                <h3 class="title">Tech Now</h3>
                <p class="description">Riemer en Taeke bespreken veranderingen in de wereld van technologie en wat voor invloed het heeft op het dagelijks leven. Tech Now bespreekt technologie en filosofie met een accent op futurologie.</p>
            </div>
        </div>
        <div class="podcast">
            <img src="{{ url_for('static', filename='images/technowthumbnail.png') }}" alt="" class="thumbnail">
            <div class="text">
                <h3 class="title">Tech Now</h3>
                <p class="description">Riemer en Taeke bespreken veranderingen in de wereld van technologie en wat voor invloed het heeft op het dagelijks leven. Tech Now bespreekt technologie en filosofie met een accent op futurologie.</p>
            </div>
        </div>
   </div>
</div>

{% endblock %}