{% extends "base.html" %}

{% block content %}

<div class="podcasts-content">
    <div class="head">
        <h1 class="title">Podcasts</h1>
        <h5 class="subtitle">Abboneer op onze podcasts via RSS of YouTube of luister direct op onze website.</h5>
    </div>
    <hr>
    <div class="podcasts">
        <div class="podcast">
            <img src="" alt="" class="thumbnail">
            <h3 class="title">Tech Now</h3>
            <p class="description">Riemer en Taeke bespreken veranderingen in de wereld van technologie en wat voor invloed het heeft op het dagelijks leven. Tech Now bespreekt technologie en filosofie met een accent op futurologie.</p>
        </div>
        <div class="podcast">
            <img src="" alt="" class="thumbnail">
            <h3 class="title">Planten en Potten</h3>
            <p class="description">Ischa’s tuin blijft groeien. Van bloem tot boom, van groente tot fruit. Ontdek hoe Ischa zaait en oogst in deze podcast over een moestuin in het centrum van Amsterdam.</p>
        </div>
        <div class="podcast">
            <img src="" alt="" class="thumbnail">
            <h3 class="title">Let It Go</h3>
            <p class="description">De drie kortgebroekten praten bij bij een rustgevend potje go. Met bloedstollende atari’s en prachtige ladders is dit het toppunt van wat de jongens kunnen leveren.</p>
        </div>
        <div class="podcast">
            <img src="" alt="" class="thumbnail">
            <h3 class="title"></h3>
            <p class="description"></p>
        </div>
        <div class="podcast">
            <img src="" alt="" class="thumbnail">
            <h3 class="title"></h3>
            <p class="description"></p>
        </div>
    </div>
</div>

{% endblock %}