{% extends "base.html" %}

{% block content %}

<div class="blog-content">
    <h1 class="title">Hoe 'The Stand' ons een les kan geven over klimaatverandering</h1>
    <h5 class="subtitle">En waarom iedereen zijn best moet doen om het te stoppen</h5>
    <div class="infobar">
        <div class="left">
            <img src="{{ url_for('static', filename='images/taekepf.png') }}" alt="Taeke Roukema" class="profilepic">
            <p class="name">Taeke Roukema</p>
        </div>
        <p class="date">12/04/2021</p>
    </div>
    <img src="{{ url_for('static',  filename='images/virus.jpg') }}" alt="Een virus" class="bannerimage">
    <article>
        <h2>De test</h2>
        <p>Dit is om te testen</p>
        <hr />
        <p>$$
        \frac{\text{test}}{2}
        $$</p>
        <h1>test</h1>
        <h2>test</h2>
        <h3>test</h3>
        <h4>test</h4>
        <h5>test</h5>
        <h6>test</h6>
        <p>Temporibus qui officia qui ipsum inventore. Dolorum cupiditate molestiae et quod. Expedita voluptatem accusantium esse quibusdam. Exercitationem voluptatem eveniet id consectetur aut aut quidem architecto. Rerum animi est cupiditate.</p>
        <p>Excepturi voluptas optio aspernatur reiciendis ullam iste. Quam architecto qui aut sed rem molestias exercitationem. Ipsa ex quis molestiae natus optio. Deserunt molestiae officiis impedit ea molestiae iste nesciunt mollitia.</p>
        <p>Aut deleniti aut totam sit enim laborum. Assumenda officia consequatur neque adipisci quis necessitatibus. Ipsum voluptatem qui corporis. A ex nobis sed harum eaque. Aut aut animi voluptas.</p>
        <p>Quos sunt porro nesciunt eum delectus. Consequatur quod tempore voluptatem occaecati qui ut qui. Et nemo debitis est minus porro voluptas quia porro. Pariatur unde exercitationem corrupti.</p>
        <p>Accusamus optio consequatur perferendis. Qui veniam quo vel adipisci. Facilis et qui sit repudiandae. Voluptatem quibusdam modi amet deserunt eos nisi. Natus non dolorum sequi cumque libero aperiam velit.</p>
    </article>
</div>

{% endblock %}